
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000000;
}
#header{
    height: 180px;
    padding: 5px;
    
}
.banner{
    width: 100%;
    height: 140vh;
    background-image: linear-gradient(rgba(0,0,0,0.20),#000000),url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.logo img{
    width: 60%;
}
.logo:hover{
    transform: scale(1.3);
}
.logo h1{
    text-decoration: none;
    color: white;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #555D50;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: left;
    color: #D8D7D5;
    margin-top: 50px;

}
.desk{
   
    margin-left: 150px;
    border: 8px solid #555D50;
    border-left: none;
    
    
}
.content h1{
    font-size: 130px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
span{
    background: #8D9797;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;  
}
/*card*/
.tour{
    width: 100%;
    text-align: center;
    background-color: #000000;
    height: 100vh;
    margin-top: -10px;
}
.tour h1{
    color: #555D50;
    font-weight: bold;
    padding-top: 20px;
}
.tour p{
    color: #fff;
}
.section-card{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 50px;
    width: 80%;
    margin: 60px auto;
    cursor: pointer;

}
.card-img{
    width: 100%;
    height: 70vh;
    border-top: 10px solid #555D50;
    border-bottom: 10px solid #555D50;
}
.button{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #8D9797;
    font-weight: 500;
    display: inline-block;
    padding: 14px 20px;
    border-radius: 50px;
    margin-left: 50% ;
    transform: translateX(-50%);
    margin-bottom: 30px;
}
.section-card .card1{
    border: none;
}
.section-card .card2{
    border: none;
}
.section-card .card3{
    border: none;
}
.section-card .card4{
    border: none;
}
.tour .see{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 2px solid #444a40;
    border-radius: 5px;
    background-color: #444a40;
    transition: all .2s ease-in-out;
}
.tour .see:hover{
    transform: scale(1.1);
    color: #fff; 
    background-color: #555D50; 
}
/*search*/
.search{
    width: 80%;
    height: auto;
    background-color: #444a40;
    position: absolute;
}
.form{
    width: 80%;
    height: 15vh;
    background-color: #444a40;
    box-shadow: 0 20px 40px rgba(0,0,0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-37%, -100%);
    color: #fff;
}
.input-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px 100px;
    column-gap: 20px;
}
.search-btn .btn{
    color: #fff;
    border: 2px solid #555D50;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    margin-top: 22px;
    margin-left: 5px;

}
.search-btn .btn:hover{
    background-color: #555D50;
    color: #fff;
    transform: scale(1.2);
}
.atur input{
    border: 2px solid #444a40;
    transition: all .2s ease-in-out;
}
.atur input:hover{
    color: #444a40;
    transform: scale(1.1);
}
/*popup*/
.popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.popup-content{
    width: 50%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0,0,0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0 ;
    transition: all .5s .1s;
}
.popup-img{
  display: flex;
  width: 100%;
  margin-bottom: 30px;  
}
.popup-img img{
    display: block;
    width: 33.3333%;
}
.popup-header{
    text-align: center;
    text-transform: uppercase;
    color: #444a40;
    margin-bottom: 36px;
    transform: translate(0,-40%);
}
.popup-header h1{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.popup-header h2{
    font-size: 20px;
}
.popup-text{
    margin-top: -20px;
    padding: 0 36px;
    line-height: 1.4;
    background-color: #555D50;
    color: #fff;
    text-align: center;
}
.popup .btn-popup{
    background-color: #fff;
    color: #444a40;
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
    border: 2px solid #444a40;
}
.popup .btn-popup:hover{
    color: #fff;
    background-color: #444a40;
    transform: scale(1.1);
}
#popup1:target{
    opacity: 1;
    visibility: visible;
}
#popup1:target .popup-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
#popup2:target{
    opacity: 1;
    visibility: visible;
}
#popup2:target .popup-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
#popup3:target{
    opacity: 1;
    visibility: visible;
}
#popup3:target .popup-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
#popup4:target{
    opacity: 1;
    visibility: visible;
}
#popup4:target .popup-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.popup-close:link,
.popup-close:visited{
    position: absolute;
    top: 12px;
    right: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}
.popup-close:hover,
.popup-close:active{
    color: #555;
}
/*counting*/
.counting{
    width: 100%;
    padding: 2rem 10%;
    margin: 0 ;
    min-height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items:center;
    -webkit-box-pack:center ;
    -ms-flex-pack: center;
    justify-content:center ;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
    background: -webkit-linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../img/tradisioanal1.jpg);
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../img/tradisioanal1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}
.counting .box{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25rem;
        flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction: column;
        flex-direction: column; 
}
.counting .box .count{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding: 12px 10px;
    border: 3px solid #8D9797;
    transition: all .2s ease-in-out;
    cursor: pointer;
    
}
.counting .box .count:hover{
    background-color: #555D50;
    color: #fff;
    transform: scale(1.2);
    border: none;
    
}
.box a{
    text-decoration: none ;
}
/*about*/

.about{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(#000000,rgba(0,0,0,0.20),#000000), url(../img/about.jpg);
    background-size: cover;
    background-position: center;
}
.about-desc{
    margin-top: 30px;
}
.about-desc h1{
   margin-top: 220px;
   color: #fff;
   font-size: 80px;
   font-weight: bold;
   border-left: 10px solid #555D50;
   padding-left: 5px;
   text-align: left;

}
.about-desc p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}
.about-img{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 50px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, .9) ;
    transition: all .2s ease-in-out;
}
.about-img:hover{
    transform: scale(1.1);
}

/*order*/

.uluwatu{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,rgba(0,0,0,0.10),#000000), url(../img/uluwatu-temple-bali.jpg);
    background-size: cover;
    background-position: center;
    
}
.penjelasan h1{
   margin-top: 200px;
   color: #fff;
   font-size: 80px;
   font-weight: bold;
   border-left: 10px solid #555D50;
   padding-left: 5px;
}
.penjelasan p{
    padding: 12px;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
}
.penjelasan .btn{
    color: #fff;
    border: 2px solid #555D50;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    margin-left: 10px;

}
.penjelasan .btn:hover{
    background-color: #555D50;
    color: #fff;
    transform: scale(1.2);
}
/*booking*/
.booking{
    padding: 2rem 5%;
}
.form-label{
    color: #555D50;
}
.jdsub{
    font-size: 40px;

}
.booking-btn .btn{
    color: #444a40;
    border: 2px solid #555D50;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    margin-left: 10px;

}
.booking-btn .btn:hover{
    background-color: #555D50;
    color: #fff;
    transform: scale(1.2);
}
/*footer*/

footer{
    background-color: #555D50;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.nama{
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.firstname{
    color: #555D50;
    background-color: white;
    font-weight: bold;
    margin-right: 2px;
    padding: 0 10px;
   
}
.nama:hover{
    transform: scale(1.2);
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 18px;
    font-size: 14px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: #fff;
}
.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.social a:hover i{
    color: #BAB86C;
}
.footer-bottom{
    background-color: #444a40;
    width: 100%;
    height: 30px;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}